@{
    ViewData["Title"] = "Перенаправление";
}

<h2>Добро пожаловать на страницу мест!!!</h2>
<p>Нажмите на кнопку ниже, чтобы перейти к списку мест.</p>

<a href="@Url.Action("Index", "Place")" class="btn btn-primary">Перейти к списку мест</a>
